@import '../../containers/App/styles/variables';

:local(.styles) {

  text-align: center;

  #spectrogram {

  }

  #controls {
    position: absolute;
    bottom: 22px;
    width: 100%;
    border-top: 1px solid $lighterGrey;
    padding-top: 10px;

    .timer {
      font-size: 480%;
      color: $lightBlue;
      margin: 5px 0;
      font-family: 'Digital', san-serif;
    }

    .buttons {
      max-width: 200px;
      margin:0 auto;
      position: relative;
      .btn {
        &.secondary {
          svg {
            color: $white !important;
          }
          &.delete {
            position: absolute !important;
            top: 5px;
            left: 0px;
          }
          &.save {
            position: absolute !important;
            top: 5px;
            right: 0px;
          }
        }

      }


    }

  }

}