@import '../../containers/App/styles/variables';

:local(.styles) {

  text-align: center;

  #spectrogram-section {

  }

  #controls {
    position: absolute;
    bottom: 30px;
    width: 100%;
    border-top: 1px solid $lighterGrey;
    padding-top: 10px;

    .timer {
      font-size: 250%;
      color: $lightBlue;
    }
  }

}