/* global styles */

@import 'variables';
@import 'third-party/normalize';
@import 'fonts';
@import 'typography';
@import 'links';

html, body{
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

:global(body) {

  background: $lightGrey;
  color: $white;

  a {
    color: $lightBlue;
  }

  img {
    max-width: 100%;
  }

  p {
    color: #333333;
    line-height:1.3;
    margin-bottom:4px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  fieldset {
    border: none;
  }

  .container {
    padding-top: 100px;
  }

  .error {
    color: #a94442;
    background-color: #f2dede;
    display: inline-block;
    padding: 5px 10px;
    border-radius: $border-radius;
  }

  .center {
    text-align: center;
  }


}