/*
  Fonts
*/

@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic-ext);

@import url(//fonts.googleapis.com/css?family=Orbitron);

@font-face {
  font-family: 'Digital';
  src: url('./fonts/DS-DIGI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital-7';
  src: url('./fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crystal';
  src: url('./fonts/Crystal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DJB-Digital';
  src: url('./fonts/DJB-Digital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

