@import '../../containers/App/styles/variables';

:local(.styles) {

  text-align: center;

  .microphone-icon {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iMTM5IiB2aWV3Qm94PSIwIDAgNjQgMTM5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZT5pY29uLXNlc3Npb25zPC90aXRsZT48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00OC42NyA4OC4yMTVoLjIxVjE2Ljg5MmgtLjAyM0M0OC4zOTQgNy40ODIgNDEuMDA3IDAgMzEuOTYgMGMtOS4wNDYgMC0xNi40MzQgNy40OC0xNi44OTcgMTYuODkyaC0uMDIzdjcxLjMyM2guMjFjMS4yOCA4LjUxIDguMjc0IDE1LjAxNiAxNi43MSAxNS4wMTYgOC40MzYgMCAxNS40My02LjUwNSAxNi43MS0xNS4wMTV6Ii8+PHBhdGggZD0iTTM1LjcyIDEzMS4zODV2LTExLjU3YzE0LjU3Ni0xLjczOCAyNi4xNTQtMTMuNDU3IDI3Ljk1Ni0yOC4yNi4xOC0uNDQuMjgtLjkxOC4yOC0xLjQyVjYzLjgzOGMwLTIuMDctMS42Ny0zLjc0Ni0zLjc2LTMuNzQ2LTIuMDc3IDAtMy43NiAxLjY3NS0zLjc2IDMuNzQ1djI2LjI5NGMwIC4xNTYuMDEuMzEuMDI4LjQ2LTEuMjUgMTEuNjQ4LTExLjc3IDIwLjc0LTI0LjU2MiAyMC43NC0xMi42MTMgMC0yMy4wMTctOC44NC0yNC41MDMtMjAuMjUyLjA3OC0uMzAzLjEyLS42Mi4xMi0uOTQ4VjYzLjg0YzAtMi4wNy0xLjY3LTMuNzQ2LTMuNzYtMy43NDZDMS42ODMgNjAuMDk0IDAgNjEuNzcgMCA2My44NHYyNi4yOTRjMCAuNDU1LjA4Ljg5LjIzIDEuMjk0IDEuNzUgMTQuODYzIDEzLjM1MiAyNi42NDUgMjcuOTcgMjguMzg4djExLjU3SDE1LjAyM2MtMi4wNjcgMC0zLjc0MyAxLjY2NS0zLjc0MyAzLjc1MiAwIDIuMDc0IDEuNjczIDMuNzU0IDMuNzQzIDMuNzU0aDMzLjg3NGMyLjA2NyAwIDMuNzQzLTEuNjY2IDMuNzQzLTMuNzU0IDAtMi4wNzMtMS42NzMtMy43NTMtMy43NDMtMy43NTNIMzUuNzJ6Ii8+PC9nPjwvc3ZnPgo=);
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 220px;
  }

  .recording-line {
    width: 100%;
    height: 220px;
  }

}